*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
nav{
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
nav h1{
    font-size: 4rem;
    font-family:cooper;
    color:blueviolet;
    text-align: center;
    text-transform: capitalize;
}
nav .toggle_icon, nav input{
    display: none;

}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
    
}
nav ul li a{
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

nav ul li a::after{
    position: absolute;
    content:'';
    bottom: -.3rem;
    left: 0;
    color:blueviolet;
    width:0;
    transition: .5s;
    height: .3rem;
    background: blueviolet;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li button{
    padding: .6rem 2rem;
    bottom: none;
    border-radius:1rem;
    background: rgb(139, 48, 224);
    color:#fff;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* navigation bar responsive code  */

@media(max-width:768px){
    nav{
        flex-direction: column;
        padding: .5rem 0 .4rem 0;
        position: fixed;
        background: rgb(4,4,44);
        z-index: 2;
    }
    nav h1{
        width: 100vw;;
        margin: 0;
        position: relative;
        top:.8rem;
        font-size: 3rem;
        text-align:center;
    }
    nav .toggle_icon{
        position: absolute;
        right: 4rem;
        top:1.5rem;
        font-size: 2.3rem;
        cursor: pointer;
        z-index: 2;
        color: gray;
        box-shadow: 0 0 5px black;
        border-radius: .3rem;
        transform: rotate(90deg);
        display: block;
        padding:.8rem 1rem 1rem 1rem;
        border: 1px solid gray;
        
    }
    nav ul{
        margin-top: 2rem;
        flex-direction: column;
        position: relative;
        left: -100%;
        height: 0;
        transition: .3s;  
    }
    nav #click:checked ~ ul{
        left:0;
        height: 100%;
        
    }
}

/* heros section code  */

.heros{
    width: 100vw;
    height: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    transition: all .3s;
    margin-top: 8rem;
}
.heros h1{
    text-align: center;
    font-size:3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heros h1 span{
    color:rgb(76, 76, 189);
}
.heros p{
    width: 80vw;
    text-align: center;
    font-size:1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heros a{
    display: inline;
    padding:1rem 2rem;
    background: black;
    position: relative;
    top:3rem;
    color:#fff;
    border-radius: .3rem;
}
.heros a:last-child{
    background: lightgray;
    color:#000;
    margin-left: 1rem;
    transition: .5s;
}
.heros a:last-child:hover{
    background-color: #000;
    color:#fff;
}

/* courses code here  */

.courses {
    position: relative;
    top:8rem;
}
.courses h1{
    text-align: center;
    font-size:1.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.courses .course_container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:1.5rem;
    gap:1rem;
}
.course_container .card{
    width: 19rem;
    border-radius: 1rem;
    height: 22rem;
    border: 1px solid gray;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.course_container .card figure img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.course_container .card .first_para{
    color:#333;
    letter-spacing:.1rem;
    margin-left: .5rem;
}
.course_container .card h1{
    position: relative;
    text-transform: capitalize;
    width: 100%;
    font-size:1.2rem;
}
.course_container .card p{
    position: relative;
    left: .3rem;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.course_container .card a{
    padding: 1rem 1rem;
    width:15rem;
    background: blueviolet;
    color:#fff;
    margin-top: 1rem;
    border-radius: 2rem;
    text-align: center;
}

/* courses responsive code  */

@media(max-width:768px){
    .course_container{
        flex-direction: column;
        height: auto;
        padding-bottom: 6rem;
        gap:0;
    }
}

/* footer code  */
footer{
    margin: 15rem 0 3rem 0;
    width: 100vw;
     display: flex;
  justify-content:center;
  gap:2rem;
  align-items: center;
  padding: 0 4rem;
}
footer figure img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0 15px 40px black;
}
footer .insta {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: .6rem;
    background: rgb(223, 46, 134);
    box-shadow: 0 15px 25px black;
}
footer .insta .main_icon{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
}
footer .insta .main_icon::after{
    content: '';
    position: absolute;
    width: .3rem;
    top: -.5rem;
    right: -.5rem;
    height: .3rem;
    border-radius: 50%;
    border:1px solid #fff;
}

footer p{
    text-align:center;
    font-size: 1.6rem;
    
}

/* responsive code for footer  */

@media (max-width:768px){
    footer{
        margin: 7rem 0rem;
        width: 100vw;
         flex-direction: column;
    gap: 3rem;
    }
    footer p{
        text-align:center;
        font-size: 1.6rem;
        
    }
}
